{{eleventyNavigation.parent}} | {{eleventyNavigation.key}} 
{% set breadcrumbs = collections.all | eleventyNavigation("Home") %}
{{ breadcrumbs | dump | safe }}
{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Homely"
    }
  ],
  href: "/blueprint",
  text: "Blueprint"
}) }}