{% set folderBasedCollection = collections.all | folderFilter(folder) | mapSideNav %}

<nav class="app-side-nav">
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in folderBasedCollection %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
</nav>
