{% set landingPage = true %}

{% extends "includes/app-layout.njk" %}


{% block breadcrumb %}

{% set breadcrumbs = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) %}
{{ breadcrumbs | mapNavigationToBreadcrumbs| dump | safe }}

{#  {% include "blueprint/_breadcrumb.njk" %} #}
{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    }
  ],
  href: "/blueprint",
  text: "Blueprint"
}) }}


{% endblock %}

{% block bodyContent %}
{{ layoutContent | safe }}
{% endblock %}

<div class="app-index-navigation app-u-hide-desktop">
 {% include "includes/_side-nav.njk" %}
</div>